@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100..900&family=Science+Gothic:wght@100..900&family=Special+Gothic+Condensed+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    list-style: none;
}




header{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #121212;

}

.navbar ul{
    display: flex;
    gap: 70px;
}
a{
    color: #fff;
}

.btn{
    padding: 5px 20px;
    background-color: #fd6f00;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    gap: 40px;
    background-color: #121212;

 
    
   
}
.hero-left {
  width: 50%;
  /* border: 1px solid white; */
    background-image: url(images/Vector.png);
   background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-left img{
    height: 450px;
}
.hero-left > img{
  height: 60px;
  display: flex;
  width: 200px;
}
.logo{
  display: flex;
}
.title{
     color: #e46400;
    font-size: 4rem;
}
.name{
    color: #959595;

}
.hi{
      color: #707070;

}
.stats img{
    width: 90%;
    height: 100px;
}
.btns {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.hire {
  padding: 10px 25px;
  background: #ff7a00;
  border: none;
  border-radius: 6px;
  color: #fff;
}

.cv {
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 6px;
}
.hero-right{
    display: flex;
}

.ellips{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    background-color: #1e1e1e;
    background-image: url(images/profile.png);
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 20px 5px rgba(255, 140, 0, 0.6);
    display: flex;

}
.ellips {
  
    animation: floatImage 6s ease-in-out infinite;
}

@keyframes floatImage {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-12px); }
    100% { transform: translateY(0); }
}

@media (max-width: 600px) {

    .navbar ul{
        display: none;
    }
  .hero {
    flex-direction: column;  /* 1 column in mobile */
    text-align: center;
    padding: 40px 20px;
  }
  .hero-left{
    justify-content: center;
  }

  .hero-left, .hero-right {
    width: 100%;
  }

  .hero-right img {
    width: 260px;
    margin-top: 20px;
  }
  .logo{
 margin-left: 80px;
  }
  


  .hero-right{
    justify-content: center;
    align-items: center;
  }
  .btns{
    justify-content: center;
  }
   .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}






.services {
    padding: 60px 80px;
    text-align: center;
    background-color: #121212;

}
.head{
    color: #fff;
}
.lorem{
    color: #959595;

}

.service-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Desktop = 3 columns */
  gap: 25px;
}

.box {
  background-color:  #1e1e1e;
  padding: 40px 20px;
  border-radius: 12px;
  color: white;
  transition: 0.3s;
}
.box:hover{
      transform: translateY(-5px);
}
.box img{
    height: 80px;
}
.short-text{
    color: #575757;
}


@media (max-width: 992px) {
  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .service-grid {
    grid-template-columns: 1fr;   /* 1 Column */
  }

  .box{
    padding: 40px 10px;
  }
}

/* .about-me{
    background-color: #121212;
    padding: 50px;
    text-align: center;
} */

.about {
  padding: 50px 80px;
  color: #fff;
background-color: #121212;

}

/* Top Heading and Short Paragraph */
.about-heading {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}

.about-short {
  text-align: center;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto 40px auto;
    color: #959595;

}

/* Two Columns (Flex Layout) */
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* Left Image */
.ellipss{
     height: 400px;
    width: 400px;
    border-radius: 100%;
    background-color: #1e1e1e;
    background-image: url(images/profile.png);
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 20px 5px rgba(255, 140, 0, 1);
    display: flex;
}




/* Right Content */
.about-right {
  width: 50%;
}

.about-right h3 {
  margin-bottom: 15px;
}

.about-right p {
  margin-bottom: 25px;
  line-height: 1.6;
  color: #959595;
}

.about-btn {
  padding: 12px 28px;
  background: #ff6a00;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-right {
    width: 100%;
  }

  .about-left img {
    width: 250px;
  }
}
 .skills {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;      /* Center me show hoga */
}

.skill-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;           /* Circle shape */
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border: 2px solid #ff6a00;     /* Orange border */
  transition: 0.3s;
}

/* Hover effect */
.skill-circle:hover {
  background: #ff6a00;
  color: #000;
  transform: translateY(-5px);
}

/* Mobile */
@media (max-width: 600px) {
  .skill-circle {
    width: 75px;
    height: 75px;
    font-size: 14px;
  }
}

/* .portfolio{
 background-color: #121212;
color: #fff;
} */


/* Portfolio Section */
/* MAIN SECTION */
.portfolio {
    text-align: center;
    padding: 50px 20px;
    background-color: #121212;

}

.portfolio h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
}

/* BUTTONS */
.portfolio-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.portfolio-buttons button {
    padding: 8px 18px;
    border: none;
    /* background: #e0e0e0; */
    border-radius: 25px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.portfolio-buttons button:hover {
    transform: scale(1.1);
    background-color: #ff7a00;
}

.portfolio-buttons .active {
    background: #ff7a00;
    color: white;
    transform: scale(1.1);
}

/* GRID */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* BOXES */
.p-box {
    width: 100%;
    height: 320px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.p-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}


@media (max-width: 900px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {
    .portfolio-grid {
        grid-template-columns: 1fr;
    }

    .portfolio-buttons button {
        animation: pop 0.4s ease;
    }
}

/* Animation */
@keyframes pop {
    0% { transform: scale(0.6); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}



/* SECTION BASIC */
.contact {
    text-align: center;
    padding: 60px 20px;
    background-color: #121212;
}

.contact h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #fff;
}

.contact p {
    max-width: 600px;
    margin: 0 auto 40px;
    color: #555;
}
input{
     background-color: #1e1e1e;
     border: none;

}
textarea{
    background-color: #1e1e1e;

}

/* FORM GRID */
.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: auto;
}

/* Full width for textarea */
.form-group.full {
    grid-column: span 2;
}

/* INPUT + TEXTAREA */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    border: none;
    color: #fff;
    transition: 0.3s ease;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: black;
}

/* BUTTON */
.contact-btn {
    grid-column: span 2;
    padding: 12px 25px;
    background-color: #fd6f00;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.contact-btn:hover {
    transform: scale(1.05);
}

/* MOBILE = 1 COLUMN */
@media (max-width: 600px) {
    .contact-form {
        grid-template-columns: 1fr;
    }

    .form-group.full,
    .contact-btn {
        grid-column: span 1;
    }
    .footer-contact{
      flex-direction: column;
    }
}


/* footer  */

.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.footer-logo h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* LINKS */
.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 25px;
    flex-wrap: wrap;
    padding-top: 20px;
}

.footer-links li a {
    color: #959595;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.footer-links li a:hover {
    color: orange;
}

/* SOCIAL ICONS */
.footer-icons {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 20px;
}

/* .footer-icons i {
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-icons i:hover {
    color: orange;
    transform: scale(1.2);
} */

/* CONTACT INFO */
.footer-contact{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer-contact p {
    margin: 5px 0;
    color: #ccc;
    font-size: 15px;
}
.footer-contact img{
  height: 20px;
}

/* CREDIT */
.footer-credit {
    margin-top: 25px;
    color: #aaa;
    font-size: 14px;
}








/* HIDDEN BY DEFAULT */


@scroll-timeline scrollReveal {
    source: auto;
    orientation: block;
}
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.reveal {
    animation-name: fadeUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-timeline: scrollReveal;
    animation-range: entry 20% cover 30%;
}

